

@font-face {
  font-family: "Nunito Sans";
  src: local("Nunito Sans"),
    url("assets/fonts/Nunito_Sans/NunitoSans.ttf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";